.b__gtk {
  margin-bottom: 50px;
  @media #{$md} {
    margin-bottom: 0px;
  }

  .b__gtk__wraper {
    display: flex;
    align-items: center;
    gap: 50px;
    @media #{$md} {
      flex-wrap: wrap;
      gap: 0;
    }
    .b__gtk__col {
      @media #{$md} {
        width: 100%;
      }
      &:nth-child(1) {
        width: 51%;
        @media #{$md} {
          width: 100%;
          order: 2 !important;
        }
      }
      &:nth-child(2) {
        width: 62%;
        @media #{$md} {
          width: 100%;
          order: 1 !important;
        }
      }
      p {
        font-size: 18px;
        @media #{$md} {
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 20px;
        }
      }
      img {
        max-width: 100%;
        width: 100%;
        height: auto;

        @media #{$md} {
          margin-bottom: 20px;
        }
      }
    }
    .b__gtk__col.left {
      order: 1;
    }
  }
}
