@import "../../src/css/scss/variable";

.b-img-s {
  .right {
    @media #{$md} {
      flex-wrap: wrap;
    }
    .b-img-s__col {
      &:nth-child(1) {
        width: 50% !important;
        order: 2;
        padding: 50px 0px 50px 50px !important;
        width: 56%;
        @media #{$md} {
          width: 100% !important;
        }
        @media #{$xlg} {
          padding: 50px 0px 50px 50px !important;
        }
        @media #{$lg} {
          padding: 50px 0px 50px 50px !important;
        }
        @media #{$md} {
          width: 100%;
          padding: 50px;
        }
        @media #{$sm} {
          width: 100%;
          padding: 30px 0 !important;
          order: 1 !important;
        }
      }
      &:nth-child(2) {
        width: 56% !important;
        @media #{$md} {
          width: 100% !important;
        }
        .galery {
          ul {
            li {
              float: right !important;
              padding-left: 0px;
              padding-right: 0px;
              &:nth-child(2) {
                padding-left: 0px !important;
                padding-right: 20px !important;
              }
              //   &:nth-child(2) {
              //     padding-left: 0px !important;
              //     padding-right: 0px !important;
              //   }
            }
          }
        }
      }
    }
  }
  .b-img-s__wraper {
    display: flex;
    align-items: center;
    // gap: 20px;
    @media #{$md} {
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    .galery {
      li {
        padding-bottom: 20px;
      }
    }
    .b-img-s__col {
      width: 50%;
      align-self: stretch;
      @media #{$md} {
        width: 100%;
      }
      &:nth-child(1) {
        align-self: center;
        padding: 50px 50px 50px 0;
        width: 56%;
        @media #{$xlg} {
          padding: 50px;
        }
        @media #{$lg} {
          padding: 50px 50px 50px 50px;
        }
        @media #{$md} {
          width: 100%;
          padding: 50px;
        }
        @media #{$sm} {
          width: 100%;
          padding: 30px 0;
        }
      }
      &:nth-child(2) {
        // align-self: center;
        @media #{$md} {
          order: 2;
        }
      }
    }
  }

  .nums {
    display: flex;
    gap: 20px;
    @media #{$md} {
      flex-wrap: wrap;
    }
    .nums__item {
      width: calc(33.333% - 20px);
      @media #{$md} {
        width: calc(50% - 20px);
      }
      .nums__item__num {
        display: block;
        font-size: 28px;
        font-weight: 700;
        color: $main;
        small {
          font-size: 18px;
        }
      }
      .nums__item__desc {
        font-size: 14px;
      }
    }
  }
  .galery {
    height: 100%;
    .img {
      align-self: stretch;
      overflow: hidden;
      width: 100%;
      position: relative;
      min-height: 480px;
      height: 100%;
      @media #{$md} {
        height: initial;
        min-height: initial;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        @media #{$md} {
          position: relative;
          height: auto;
          top: initial;
          left: initial;
          transform: translate(0, 0);
        }
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
      li {
        // position: relative;
        float: left;

        // min-height: 300px;
        &:nth-child(1) {
          width: 40%;
          min-height: 200px;
          height: calc(40% - 0px);
          padding-right: 20px;
        }
        &:nth-child(2) {
          width: 60%;
          min-height: 200px;
          height: calc(40% - 0px);
        }
        &:nth-child(3) {
          width: 90%;
          min-height: 300px;
          height: calc(60% - 0px);
          @media #{$md} {
            width: 100%;
          }
        }
        .item {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
  .list {
    list-style: none;
    position: relative;
    padding: 20px 0 20px 40px;
    margin: 30px 0;
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 16px;
      width: 1px;
      height: 100%;
      background-color: $main;
    }
    .list__item {
      margin: 0;
      padding: 0;
      padding-bottom: 10px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        transform: translate(0, 5px);
        left: -31px;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border: 3px solid #fff;
        background-color: $main;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}
