html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  // padding-top: 188px;
}
#main {
  margin-bottom: 50px;
}

.container {
  max-width: 1555px;
  width: 100%;
  margin: 0 auto;
  @media #{$md} {
    width: 100%;
  }
}

.row {
  padding-left: 50px;
  padding-right: 50px;
  @media #{$sm} {
    padding-left: 30px;
    padding-right: 30px;
  }
}
#error {
  h2 {
    margin-bottom: 30px;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

#go-to-top.active {
  bottom: 40px;
  transform: all 0.8s;
}

#go-to-top {
  position: fixed;
  cursor: pointer;
  z-index: 9;
  width: 22px;
  height: 14px;
  bottom: -100px;
  right: 20px;
  transform: all 0.8s;
  svg {
    path {
      fill: $main;
      transition: all 0.2s liner;
    }
    &:hover {
      path {
        opacity: 0.5;
      }
    }
  }
}

.scroll-anchor {
  display: block;
  /* width: 100%; */
  /* height: 100px; */
  background: red;
  position: absolute;
  margin-top: -100px;
}

.go-pagination {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
