#header {
  background-color: $black;
  background-image: url(../img/header-bg.png);
  background-position: top right;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0px;

  .navbar {
    transition: all 0.3s linear;
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    @media #{$lg} {
      flex-wrap: wrap;
    }
    @media #{$sm} {
      padding: 10px 0;
    }
    .navbar__wraper {
      display: flex;
      align-items: center;
      @media #{$lg} {
        flex-wrap: wrap;
        width: 100%;
      }
    }
    ul {
      // position: relative;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      li {
        a {
          text-decoration: none;
          color: #fff;
          font-weight: 500;
          &:hover {
            color: $main;
          }
        }
      }
    }
  }
}

.js-header.active {
  transition: all 0.3s linear;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(#171718, 0.8) !important;
  .navbar {
    padding: 0px !important;
    @media #{$sm} {
      padding: 0px 0 !important;
    }
  }
}

// Logo
.navbar__brand {
  @media #{$sm} {
    max-width: 70%;
  }
  flex: auto;
  * {
    color: #fff;
  }
  a {
    display: flex;
    align-items: center;
    gap: 15px;
    svg {
      padding: 10px;
      @media #{$sm} {
        padding: 0;
      }
    }
    p {
      font-size: 22px;
      line-height: 22px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 5px;
      @media #{$sm} {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 5px;
      }
    }
    span {
      display: block;
      font-size: 11px;
      line-height: 11px;
      font-weight: 400;
      @media #{$sm} {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 5px;
      }
    }
  }
}
// Menu
.navbar__navigation {
  @media #{$lg} {
    flex: none;
    order: 3;
  }
  > ul {
    position: relative;
    padding: 20px 0 20px 20px;
    @media #{$lg} {
      position: absolute;
      top: 0px;
      right: -100%;
      display: block !important;
      width: 100%;
      max-width: 300px;
      height: 100vh;
      padding-top: 150px;
      background: $black;
      text-align: right;
    }
    li {
      @media #{$lg} {
        transform: translate(100%, 0);
      }
      a {
        padding: 15px 20px;
        font-weight: normal;

        span {
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          @media #{$lg} {
            font-size: 21px;
            display: block;
          }
        }
      }
      .btn {
        padding: initial;
      }
    }
    .liVisible {
      @media #{$lg} {
        transform: translate(0, 0) !important;
      }
    }
    .current_page_item,
    .current-page-ancestor {
      > a {
        color: $main !important;
      }
    }
  }
}

.navbar__navigation.active {
  > ul {
    transition: all 0.5s linear;
    // right: -8% !important;
    right: -50px !important;
    padding-right: 30px;
    border: none;
    @media #{$sm} {
      right: -30px !important;
    }
    li {
      transition: all 0.5s linear;
      a {
        padding: 0 !important;
      }
    }
  }
  .sub-menu {
    box-shadow: none;
  }
}

// Toggler
.navbar__toggler {
  display: none;
  align-items: center;
  gap: 10px;
  transform: translateY(-2px);
  @media #{$lg} {
    display: flex;
  }
  cursor: pointer;
  > span {
    font-size: 12px;
    transform: translateY(1px);
    color: #fff;
  }
  .navbar__toggler__btn {
    span {
      display: block;
      width: 30px;
      height: 3px;
      border-radius: 100px;
      background-color: #fff;
      transition: all 0.1s linear;
      &:nth-child(2) {
        transform: translateY(3px);
        width: 25px;
      }
      &:nth-child(3) {
        transform: translateY(6px);
        width: 20px;
      }
    }
  }
  &:hover {
    .navbar__toggler__btn {
      span {
        display: block;
        width: 30px !important;
      }
    }
  }
}

.navbar__toggler.active {
  .navbar__toggler__btn {
    span {
      // transform-origin: 50% 0;
      &:nth-child(1) {
        transform: translateY(0) rotate(45deg);
        transform-origin: 40% 0;
      }
      &:nth-child(2) {
        // width: 0px;
        opacity: 0;
        width: 0px;
      }
      &:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
        width: 100%;
        transform-origin: 30% 0;
      }
    }
  }
}
