// Query
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1300px)";
$xlg: "only screen and (max-width: 1400px)";

$main: #bc9c3b;
$black: #000;
$light-black: #6e828e;
$light: #eaf2f7;
$dark: #d7d7d7;
$gray: #c6ced3;
