// Query
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1300px)";
$xlg: "only screen and (max-width: 1400px)";

$main: #5f031f;
$black: #061322;
$light-black: #252323;
$light: #f4f4f4;
$dark: #d7d7d7;
$gray: #c6ced3;
