@import "../../src/css/scss/variable";
@import "../../src/css/scss/variable";
.b-how-to-get {
  .b-how-to-get__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .b-how-to-get__col {
      p {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;
        padding: 0;
      }
      a {
        color: $main;
        text-decoration: underline;
        margin-bottom: 20px;
        display: block;
      }
    }
  }
}
