@import "scss/variable";
@import "scss/typo";
@import "scss/global";
@import "scss/footer";
@import "scss/header";
@import "scss/page";
@import "scss/single";
@import "scss/archive";

@import "scss/btn";
@import "scss/form";

@import "scss/btn";
@import "scss/form";
