body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  color: #000;
  margin: 0;
}

.h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 28px;
  }
}

p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}

li {
  margin-bottom: 20px;
}

ul,
ol {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  font-weight: 300;
}

span {
  font-size: 14px;
  line-height: 22px;
}

a {
  color: #bc9c3b;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-weight: 700;
}

.entry-content p,
.entry-content li,
.entry-content a {
  font-size: 14px;
}

.t-page {
  padding: 50px 0;
}

.t-page .entry-title {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .t-page .entry-title {
    font-size: 28px;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #bc9c3b;
  /* Safari */
  text-decoration-color: #bc9c3b;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}

#main {
  margin-bottom: 50px;
}

.container {
  max-width: 1555px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 998px) {
  .container {
    width: 100%;
  }
}

.row {
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 768px) {
  .row {
    padding-left: 30px;
    padding-right: 30px;
  }
}

#error h2 {
  margin-bottom: 30px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#go-to-top.active {
  bottom: 40px;
  -webkit-transform: all 0.8s;
          transform: all 0.8s;
}

#go-to-top {
  position: fixed;
  cursor: pointer;
  z-index: 9;
  width: 22px;
  height: 14px;
  bottom: -100px;
  right: 20px;
  -webkit-transform: all 0.8s;
          transform: all 0.8s;
}

#go-to-top svg path {
  fill: #bc9c3b;
  -webkit-transition: all 0.2s liner;
  transition: all 0.2s liner;
}

#go-to-top svg:hover path {
  opacity: 0.5;
}

.scroll-anchor {
  display: block;
  /* width: 100%; */
  /* height: 100px; */
  background: red;
  position: absolute;
  margin-top: -100px;
}

.go-pagination {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

footer {
  margin-top: 50px;
}

.f-main {
  border-top: 1px solid #000;
  padding: 50px 15px;
}

.f-main .f-main__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-main .f-main__wraper .f-main__col {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .f-main .f-main__wraper .f-main__col {
    width: 100%;
    text-align: center !important;
  }
}

.f-main .f-main__wraper .f-main__col img {
  max-width: 90%;
}

.f-main .f-main__wraper .f-main__col p {
  font-size: 12px;
}

.f-main .f-main__wraper .f-main__col:nth-child(2) {
  text-align: right;
}

.f-main ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .f-main ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.f-main ul li {
  margin: 0;
}

.f-main ul li:first-child a {
  padding-left: 0;
}

.f-main ul li a {
  color: #000;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 20px 10px 0;
}

@media only screen and (max-width: 768px) {
  .f-main ul li a {
    padding: 10px;
  }
}

.f-main ul li a:hover {
  color: #bc9c3b;
}

.f__info {
  text-align: center;
}

.f__info p {
  font-size: 12px;
  color: 989898;
}

#header {
  background-color: #000;
  background-image: url(../img/header-bg.png);
  background-position: top right;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0px;
}

#header .navbar {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

@media only screen and (max-width: 1300px) {
  #header .navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  #header .navbar {
    padding: 10px 0;
  }
}

#header .navbar .navbar__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1300px) {
  #header .navbar .navbar__wraper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

#header .navbar ul {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

#header .navbar ul li a:hover {
  color: #bc9c3b;
}

.js-header.active {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(23, 23, 24, 0.8) !important;
}

.js-header.active .navbar {
  padding: 0px !important;
}

@media only screen and (max-width: 768px) {
  .js-header.active .navbar {
    padding: 0px 0 !important;
  }
}

.navbar__brand {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

@media only screen and (max-width: 768px) {
  .navbar__brand {
    max-width: 70%;
  }
}

.navbar__brand * {
  color: #fff;
}

.navbar__brand a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.navbar__brand a svg {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .navbar__brand a svg {
    padding: 0;
  }
}

.navbar__brand a p {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  .navbar__brand a p {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }
}

.navbar__brand a span {
  display: block;
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .navbar__brand a span {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 1300px) {
  .navbar__navigation {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.navbar__navigation > ul {
  position: relative;
  padding: 20px 0 20px 20px;
}

@media only screen and (max-width: 1300px) {
  .navbar__navigation > ul {
    position: absolute;
    top: 0px;
    right: -100%;
    display: block !important;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    padding-top: 150px;
    background: #000;
    text-align: right;
  }
}

@media only screen and (max-width: 1300px) {
  .navbar__navigation > ul li {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

.navbar__navigation > ul li a {
  padding: 15px 20px;
  font-weight: normal;
}

.navbar__navigation > ul li a span {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

@media only screen and (max-width: 1300px) {
  .navbar__navigation > ul li a span {
    font-size: 21px;
    display: block;
  }
}

.navbar__navigation > ul li .btn {
  padding: initial;
}

@media only screen and (max-width: 1300px) {
  .navbar__navigation > ul .liVisible {
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
  }
}

.navbar__navigation > ul .current_page_item > a,
.navbar__navigation > ul .current-page-ancestor > a {
  color: #bc9c3b !important;
}

.navbar__navigation.active > ul {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  right: -50px !important;
  padding-right: 30px;
  border: none;
}

@media only screen and (max-width: 768px) {
  .navbar__navigation.active > ul {
    right: -30px !important;
  }
}

.navbar__navigation.active > ul li {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navbar__navigation.active > ul li a {
  padding: 0 !important;
}

.navbar__navigation.active .sub-menu {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar__toggler {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .navbar__toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar__toggler > span {
  font-size: 12px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  color: #fff;
}

.navbar__toggler .navbar__toggler__btn span {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background-color: #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.navbar__toggler .navbar__toggler__btn span:nth-child(2) {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  width: 25px;
}

.navbar__toggler .navbar__toggler__btn span:nth-child(3) {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  width: 20px;
}

.navbar__toggler:hover .navbar__toggler__btn span {
  display: block;
  width: 30px !important;
}

.navbar__toggler.active .navbar__toggler__btn span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
  -webkit-transform-origin: 40% 0;
          transform-origin: 40% 0;
}

.navbar__toggler.active .navbar__toggler__btn span:nth-child(2) {
  opacity: 0;
  width: 0px;
}

.navbar__toggler.active .navbar__toggler__btn span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
  width: 100%;
  -webkit-transform-origin: 30% 0;
          transform-origin: 30% 0;
}

.error404 .entry-title {
  font-size: 100px !important;
  margin: 20px 0;
  text-align: center;
}

.error404 .btn {
  text-align: center;
  margin: 0 auto;
}

#error {
  padding: 0 0 50px 0;
}

.page-template-page-home #header,
.page-template-page-contact #header,
.page-template-page-about #header {
  background: none;
}

.page-template-page-home #main,
.page-template-page-contact #main,
.page-template-page-about #main {
  margin-bottom: 0px !important;
}

.page-template-page-home #footer,
.page-template-page-contact #footer,
.page-template-page-about #footer {
  margin-top: 0px;
}

.page-template-page-home .wraper-bg,
.page-template-page-contact .wraper-bg,
.page-template-page-about .wraper-bg {
  width: 100%;
}

.page-template-page-home .bg,
.page-template-page-contact .bg,
.page-template-page-about .bg {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  background-position: top right;
  background-size: cover;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
  background-attachment: fixed;
}

.page-template-page-home .bg *,
.page-template-page-contact .bg *,
.page-template-page-about .bg * {
  color: #fff;
}

.page-template-page-about .bg-wraper {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  .page-template-page-about .bg-wraper {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.page-template-page-about .h1 {
  color: #bc9c3b;
  padding: 50px 0;
}

@media only screen and (max-width: 998px) {
  .page-template-page-about .h1 {
    padding: 30px 0;
  }
}

.page-template-page-about .row-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-template-page-about .row-col .left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 998px) {
  .page-template-page-about .row-col .left {
    width: 100%;
  }
}

.page-template-page-about .row-col .right {
  width: 40%;
  padding-left: 50px;
}

@media only screen and (max-width: 998px) {
  .page-template-page-about .row-col .right {
    width: 100%;
    padding-left: 0px;
  }
}

.page-template-page-contact .bg-wraper {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  .page-template-page-contact .bg-wraper {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.page-template-page-contact .entry-title {
  color: #bc9c3b;
}

.page-template-page-contact .row-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-template-page-contact .row-col .left {
  width: 60%;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 998px) {
  .page-template-page-contact .row-col .left {
    width: 100%;
  }
}

.page-template-page-contact .row-col .left .col {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .page-template-page-contact .row-col .left .col {
    width: 100%;
  }
}

.page-template-page-contact .row-col .left .col:last-child {
  width: 100%;
}

.page-template-page-contact .row-col .right {
  width: 35%;
}

@media only screen and (max-width: 998px) {
  .page-template-page-contact .row-col .right {
    width: 100%;
  }
}

.page-template-page-contact p {
  font-weight: 300;
}

.page-template-page-contact em {
  font-size: 12px;
}

.page-template-page-home .bg-wraper {
  width: 100%;
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  .page-template-page-home .bg-wraper {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.page-template-page-home .cont__wraper {
  padding-top: 30px;
}

.page-template-page-home .cont__wraper .title {
  padding-bottom: 30px;
}

.page-template-page-home .cont__wraper .title h1 {
  font-size: 68px;
  font-size: 3.9vw;
  font-weight: 300;
  color: #bc9c3b;
}

@media only screen and (max-width: 768px) {
  .page-template-page-home .cont__wraper .title h1 {
    font-size: 28px;
  }
}

.page-template-page-home .cont__wraper .title h1 i {
  color: #bc9c3b;
}

.page-template-page-home .cont__wraper .title p {
  font-size: 33px;
  font-size: 1.9vw;
  line-height: initial;
  font-weight: 300;
  max-width: 800px;
}

@media only screen and (max-width: 768px) {
  .page-template-page-home .cont__wraper .title p {
    font-size: 18px;
  }
}

.page-template-page-home .cont__wraper .contact {
  padding-bottom: 50px;
}

.page-template-page-home .cont__wraper .contact p {
  font-size: 16px;
}

.page-template-page-home .cont__wraper .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .page-template-page-home .cont__wraper .cta {
    padding-bottom: 30px;
  }
}

.page-template-page-home .cont__wraper .cta .cta__left span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-size: 1.3vw;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .page-template-page-home .cont__wraper .cta .cta__left span {
    font-size: 18px;
  }
}

.page-template-page-home .cont__wraper .cta .cta__left a {
  font-size: 68px;
  font-size: 3.2vw;
  font-weight: 700;
  color: #bc9c3b;
}

@media only screen and (max-width: 768px) {
  .page-template-page-home .cont__wraper .cta .cta__left a {
    font-size: 31px;
  }
}

.page-template-page-home .cont__wraper .cta .cta__right .btn {
  font-size: 22px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: #bc9c3b;
}

.page-template-page-home .cont__wraper .cta .cta__right .btn span {
  margin-right: 50px;
}

.page-template-page-home .cont__wraper .cta .cta__right .btn:hover {
  background-color: #bc9c3b;
}

.page-template-page-home .cont__wraper .cta .cta__right .btn:hover span {
  color: #fff;
}

.posts-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.l-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  width: calc(50% - 40px);
}

@media only screen and (max-width: 998px) {
  .l-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
}

@media only screen and (max-width: 460px) {
  .l-item {
    width: 100%;
  }
}

@media only screen and (max-width: 998px) {
  .l-item .l-item__left {
    width: 100%;
  }
}

.l-item .l-item__left img {
  border: 1px solid #eaf2f7;
}

@media only screen and (max-width: 460px) {
  .l-item .l-item__left img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 998px) {
  .l-item .l-item__right {
    width: 100%;
  }
}

.l-item .l-item__right h2 {
  font-size: 18px;
}

.l-item .l-item__right p {
  font-size: 14px;
  margin-bottom: 30px;
}

.l-item .l-item__right .links a {
  margin-right: 10px;
  font-weight: 700;
}

.btn {
  color: #000;
  padding: 10px 25px;
  border: 1px solid #c6ced3;
  text-decoration: none;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.btn:hover {
  border-color: #bc9c3b;
  color: #bc9c3b;
}

.btn-main {
  display: inline-block;
}

.btn-revers {
  color: #bc9c3b;
  padding: 10px 25px;
  border: 1px solid #bc9c3b;
  text-decoration: none;
}

.btn-revers:hover {
  color: #fff;
  background-color: #bc9c3b;
}

@media only screen and (max-width: 998px) {
  .form-contact {
    padding: 30px 0;
  }
}

.form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group .form-control {
  width: 100%;
  min-height: 55px;
  height: 100%;
  padding: 10px;
  border: 1px solid #fff !important;
  color: #fff;
  background: none;
  border: 0;
}

.form-group ::-webkit-input-placeholder {
  color: #fff !important;
}

.form-group :-ms-input-placeholder {
  color: #fff !important;
}

.form-group ::-ms-input-placeholder {
  color: #fff !important;
}

.form-group ::placeholder {
  color: #fff !important;
}

.form-group .wpcf7-form-control-wrap {
  width: 100%;
  padding-right: 15px;
  padding-bottom: 15px;
}

.form-group.text-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.select2-container--default .select2-selection--multiple {
  width: 100%;
  min-height: 55px;
  padding: 10px;
  border: 0px !important;
  border-radius: 0px !important;
  background-color: #eaf2f7 !important;
}

.wpcf7-acceptance label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.wpcf7-acceptance label input {
  width: 50px;
}

.wpcf7-acceptance label .wpcf7-list-item-label {
  font-size: 12px;
  line-height: 17px;
}

.wpcf7-submit {
  margin: 15px;
  background: none;
  border: 1px solid #bc9c3b;
  color: #bc9c3b;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.wpcf7-submit:hover {
  background-color: #bc9c3b;
  color: #fff;
}

.wpcf7-spinner {
  position: absolute;
  top: 30%;
  right: 0px;
}

.wpcf7-not-valid-tip {
  font-size: 12px !important;
  color: red !important;
}

.btn {
  color: #000;
  padding: 10px 25px;
  border: 1px solid #c6ced3;
  text-decoration: none;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.btn:hover {
  border-color: #bc9c3b;
  color: #bc9c3b;
}

.btn-main {
  display: inline-block;
}

.btn-revers {
  color: #bc9c3b;
  padding: 10px 25px;
  border: 1px solid #bc9c3b;
  text-decoration: none;
}

.btn-revers:hover {
  color: #fff;
  background-color: #bc9c3b;
}

@media only screen and (max-width: 998px) {
  .form-contact {
    padding: 30px 0;
  }
}

.form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group .form-control {
  width: 100%;
  min-height: 55px;
  height: 100%;
  padding: 10px;
  border: 1px solid #fff !important;
  color: #fff;
  background: none;
  border: 0;
}

.form-group ::-webkit-input-placeholder {
  color: #fff !important;
}

.form-group :-ms-input-placeholder {
  color: #fff !important;
}

.form-group ::-ms-input-placeholder {
  color: #fff !important;
}

.form-group ::placeholder {
  color: #fff !important;
}

.form-group .wpcf7-form-control-wrap {
  width: 100%;
  padding-right: 15px;
  padding-bottom: 15px;
}

.form-group.text-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.select2-container--default .select2-selection--multiple {
  width: 100%;
  min-height: 55px;
  padding: 10px;
  border: 0px !important;
  border-radius: 0px !important;
  background-color: #eaf2f7 !important;
}

.wpcf7-acceptance label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.wpcf7-acceptance label input {
  width: 50px;
}

.wpcf7-acceptance label .wpcf7-list-item-label {
  font-size: 12px;
  line-height: 17px;
}

.wpcf7-submit {
  margin: 15px;
  background: none;
  border: 1px solid #bc9c3b;
  color: #bc9c3b;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.wpcf7-submit:hover {
  background-color: #bc9c3b;
  color: #fff;
}

.wpcf7-spinner {
  position: absolute;
  top: 30%;
  right: 0px;
}

.wpcf7-not-valid-tip {
  font-size: 12px !important;
  color: red !important;
}
/*# sourceMappingURL=go-main.css.map */