@import "../../src/css/scss/variable";
.b-contact {
  .b-contact__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;

    .b-contact__col {
      p {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
      }
      .b-contact-links {
        display: flex;
        flex-wrap: wrap;

        a {
          display: flex;
          align-items: center;
          gap: 15px;
          font-weight: 500;
          margin-bottom: 20px;
          margin-right: 20px;
          span {
            font-size: 26px;
          }
        }
      }
    }
  }
}
